@paht-img:'img/';

@fontRaleway:'Raleway';
@fontEnriqueta:'Enriqueta';
@fontRoboto:'Roboto Slab';


@marronClaro:#cac3bc;
@marronMedio:darken(@marronClaro, 15%);
@marronEscuro:darken(@marronMedio, 30%);
@marromDark:darken(@marronEscuro, 20%);;

@verdeOliva:#a3ad73;

@verdeOlivaClaro:#9ba666;

@fontSize: 1em;
@fontMedium:1.4em;
@fontLarge:1.8em;
@fontxLarge:2em;


@margin-10: 0.62em;
@margin-20: 1.25em;


@paddgin-1: 1em;
@paddgin-2: 0.2em;
@paddgin-4: 0.4em;
@paddgin-8: 0.8em;
@paddgin-20: 2em;