@charset "utf-8";
@import url("https://fonts.googleapis.com/css?family=Raleway");@import url("https://fonts.googleapis.com/css?family=Enriqueta:400,700|Roboto+Slab:100,300,400,700");:after,:before{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
li:after,li:before,p:after,p:before,section:after,section:before,span:after,span:before{content:" "}
body{font-family:'Roboto Slab';font-size:1em;font-weight:400;background-image:url(//condexcomercial2.tempsite.ws/wp-content/themes/condexcomercial/img/back-conex.png);background-position:center;background-repeat:repeat}
p{line-height:1.4em;color:#868686;line-height:1.8em}
img{max-width:100%;display:block}
li,ul{list-style-type:none;padding:0;margin:0}
a{color:#a3ad73}
a:hover{color:#a89d91;text-decoration:none}
.txt-center{text-align:center}
.txt-left{text-align:left}
.txt-right{text-align:right}
.pull-left{float:left}
.pull-right{float:right}
.align-center{margin:0 auto;display:table}
.attachment-img-receitas{float:right;width:600px}
.vc_gitem-animate-scaleRotateIn .vc_gitem-zone-a{height:400px}
.thumbnails img{float:left;margin:.3em .4em 0 0;border:1px solid #a89d91;padding:.5em}
.images img{border:1px solid #a89d91;padding:.3em}
.sku_wrapper{padding-right:1em}
.product_meta{margin-bottom:1em}
.panel h2{text-transform:uppercase}
.panel{border-color:1px solid #5a5047!important;background:#efe9e3!important;padding:3em 2em 2em 2em;margin-top:3.75em}
.thumbnails{margin-left:0!important}
ul.products{margin-bottom:4em}
ul.products li{float:left;width:23%;margin-bottom:2em;margin-left:1em}
ul.products li h3{text-align:center;font-size:1.2em;height:4em;margin-top:1em}
#woo_catalog_enquiry_custom_button{background-color:transparent!important;border:1px solid #a89d91!important;color:#a89d91!important;font-weight:100;font-weight:700!important;width:80%!important;height:40px!important;font-size:1em!important;line-height:1.8!important;margin-bottom:20px!important;font-family:'Roboto Slab'}
#woo_catalog_enquiry_custom_button:hover{background-color:#a3ad73!important;border:1px solid #a89d91!important;color:#fff!important}
.tg-item-content{border:1px solid #fff}
.tg-item-date,.tg-item-title{font-family:'Roboto Slab'}
.modal-scrollable{overflow:hidden;margin:50px auto;display:block;width:800px;background:#efefef;max-height:600px}
.modal-body p{margin-bottom:0}
.modal-header .close{padding:.5em .8em;background-color:#a89d91;color:#fff;float:right}
.modal-overflow.modal.fade.in{margin-left:0!important}
.modal-footer .btn{background-color:#a89d91;color:#fff;border-radius:5px}
.btn-modal{background-color:#000;color:#fff;padding:.2em .8em}
.button:focus,.button:hover,button:focus,button:hover{background-color:#a89d91}
.woocommerce ul.products li.product h3{font-size:1.4em}
ul.page-numbers li{display:inline-flex;background:#bba998;padding:10px 20px;float:left;margin:0 12px;border-radius:100px}
ul.page-numbers li:hover{background-color:#000}
.woocommerce-pagination{width:442px;margin:0 auto;height:85px}
a.page-numbers{color:#f5eee7}
#woo_catalog_captcha{background-color:#ccc}
#woo_user_email,#woo_user_name,#woo_user_phone{border-radius:2px;border:1px solid #5a5047;box-shadow:none}
#woo_catalog .modal-content .modal-header{padding:0;border-bottom:0}
.margin-20{margin-top:1.25em}
.margin-30{margin-top:1.45em}
.margin-40{margin-top:2.5em;margin-bottom:2.5em}
.margin-50{margin-top:3.1em}
.margin-60{margin-top:3.75em}
.margin-80{margin-top:5em}
.margin-100{margin-top:6.25em}
.margin-bt-50{margin-bottom:3.1em}
.container-fluid{max-width:100%;width:100%;margin:0 auto;height:auto}
.header-inner{background-color:#cac3bc;height:4.2em}
.header-inner p{color:#6f6457;font-weight:500;margin-bottom:0;font-size:.8em;margin-top:.5em}
.header-inner strong{font-size:1.4em}
h1,h2,h3{font-family:Raleway}
h1{font-size:1.8em}
h2{font-size:1.6em}
h5,h6{font-family:'Roboto Slab'}
.titulo-main{font-weight:400;text-transform:uppercase;color:#5a5047;margin-top:1em;margin-bottom:0}
.titulo-main .titulo-white{color:#fff}
.titulo-light{color:#a89d91;font-weight:700}
.vc_separator h4{color:#a3ad73;font-style:italic;font-weight:200;text-align:center;display:inline-block}
.vc_separator h4 .lead-white{color:#fff}
hr.linha-verde .white{border-top:1px solid #fff}
.sub-titulo{color:#a3ad73;font-style:italic;position:relative;top:1.2em;margin:0}
.sub-titulo.white{color:#fff;top:0}
.sub-titulo.verde{color:#a3ad73!important}
hr.linha-sub-titulo{border-top:1px solid #fff;width:7em;position:relative;top:-2em;left:14em}
ul.list-linha-verde{display:flex;margin:0 auto;width:35em}
ul.list-linha-verde li:first-child,ul.list-linha-verde li:last-child{border-top:1px solid #a3ad73;margin:2em auto;padding:0;width:8em;height:0}
.breadcrumb{display:inline-flex}
.breadcrumb li{padding:0 5px}
.breadcrumb li:after{content:"/ "}
.breadcrumb a{color:#fff}
.category{border-radius:100%;height:5em;width:5em;background-color:#9ba666;border:2px solid #9ba666;background-size:800px;background-repeat:no-repeat;margin:0 auto}
.category:after{border:#9ba666 solid 3px;position:absolute;border-radius:100%;width:6em;height:6em;margin-top:-10px;margin-left:-10px}
.cat-folha{background-image:url(//condexcomercial2.tempsite.ws/wp-content/themes/condexcomercial/img/icones-condex.png);background-position:9px center}
.cat-noz{background-image:url(//condexcomercial2.tempsite.ws/wp-content/themes/condexcomercial/img/icones-condex.png);background-position:-432px center}
.cat-remedio{background-image:url(//condexcomercial2.tempsite.ws/wp-content/themes/condexcomercial/img/icones-condex.png);background-position:-194px center}
.cat-cogumelo{background-image:url(//condexcomercial2.tempsite.ws/wp-content/themes/condexcomercial/img/icones-condex.png);background-position:-312px center}
.cat-breans{background-image:url(//condexcomercial2.tempsite.ws/wp-content/themes/condexcomercial/img/icones-condex.png);background-position:-433px center}
.cat-sal{background-image:url(//condexcomercial2.tempsite.ws/wp-content/themes/condexcomercial/img/icones-condex.png);background-position:-704px center}
.cat-semente{background-image:url(//condexcomercial2.tempsite.ws/wp-content/themes/condexcomercial/img/icones-condex.png);background-position:-340px center}
.cat-graos{background-image:url(//condexcomercial2.tempsite.ws/wp-content/themes/condexcomercial/img/icones-condex.png);background-position:-606px center}
.onsale{background-color:rgba(208,219,182,.96);padding:1.2em .9em;color:#fff;height:4em;width:4em;position:absolute;border-radius:100%}
a.link-category{color:#fff}
.sfmsb-follow-social-buttons a,.sfmsb-follow-social-buttons a:hover{display:table-cell!important}
.sfmsb-follow-social-buttons{margin-top:15px}
.btn-default{border-radius:5px!important;border:1px solid #5a5047;color:#a89d91;font-family:'Roboto Slab';background-color:transparent;-webkit-transition:all .12s ease;-moz-transition:all .12s ease;-ms-transition:all .12s ease;-o-transition:all .12s ease;transition:all .12s ease}
.btn-default:hover{background-color:#000;color:#a89d91;cursor:pointer}
.btn-submit{padding:.6em .8em;font-size:1.2em;background-color:#000;color:#a89d91}
.center-btn{display:table!important;vertical-align:top!important;margin:0 auto!important}
.about-inner{background-color:#5a5047;padding-bottom:2em 0;padding:4em 0}
.about-inner p{color:#cac3bc;font-family:'Roboto Slab'}
.produtos-inner{background-image:url(//condexcomercial2.tempsite.ws/wp-content/themes/condexcomercial/img//condexcomercial-linha.jpg);height:auto;background-size:cover;background-repeat:no-repeat;background-position:center center;position:relative;z-index:9999}
.produtos-inner h2{font-family:'Roboto Slab';color:#fff;font-weight:700;text-align:center;margin-top:1em}
.produtos-inner p{font-family:'Roboto Slab';color:#fff}
.produto h3{font-size:1.2em;height:3em;text-align:center;margin-top:10px}
.padding-5{padding-top:6em}
h2+p{font-size:1em}
.front{position:relative;z-index:9999}
.topo-inner{background-image:url(//condexcomercial2.tempsite.ws/wp-content/themes/condexcomercial/img//topo-condexcomercial.jpg);background-repeat:repeat-x;height:10em;margin:2em 0}
.produto li{width:23%;float:left;height:390px;margin:0 10px}
.footer-inner{background-color:#5a5047;padding-top:2.4em}
.footer-inner .textwidget{color:#cac3bc;font-family:'Roboto Slab'}
.phone{font-size:1.2em;color:#a3ad73}
.linha-footer{height:0;margin-bottom:.8em}
.copy-inner{margin-top:3em}
.copy-inner p{font-family:'Roboto Slab';font-size:1.4em;color:#cac3bc;font-size:.8em}
.line-divide-footer{border-top:1px solid #a89d91;border-bottom:0}
.flor-footer{position:relative;margin:0 auto;background-color:#5a5047;padding:.8em 0;width:50px;top:-3em}
.flor-footer.white{background-color:#fff}
.related.products h3{font-family:'Roboto Slab';text-align:center;font-family:#a89d91}
.related.products{display:table;height:3em;margin-top:1em}
.wpcf7-form.form-contato input[type=text],input[type=email],input[type=phone],input[type=tel],input[type=number],textarea{border-radius:2px;border:1px solid #5a5047;box-shadow:none}
.form-contato label{font-family:'Roboto Slab';color:#5a5047;font-size:1.2em;height:.5em}
@media screen and (max-width:780px){.header-inner{height:auto;padding-bottom:1em}
.footer-inner{height:auto}
ul.list-menu{background-color:#cac3bc;height:0;overflow:hidden;margin-top:0}
ul.sub-menu li:hover{background-color:#a3ad73}
.open-menu{height:auto;overflow:visible}
ul.list-menu li{display:block;padding:.4em 0;border-top:1px solid #a89d91}
#touch-menu{width:100%;background-color:#a89d91;margin-top:20px;display:block;text-align:center;color:#ccc;font-size:1.4em;visibility:visible}
h1{font-style:1.4em}
.sub-titulo,ul.list-linha-verde li:first-child,ul.list-linha-verde li:last-child{width:auto;margin:.8em auto;text-align:center}
ul.list-linha-verde{width:auto}
.sub-titulo{top:0;text-align:center}
.produto li{width:100%;float:none;height:auto}
.produto li img{margin:0 auto}
.topo-inner{background-size:cover;height:auto}
#touch-menu{margin-top:20px}
.modal-scrollable{width:100%;overflow:visible}
.produto h3{font-size:1.4em;height:3em;text-align:center;margin-top:10px}
.category{height:10em;width:10em}
.category:after{width:11em;height:11em}
.cat-sal{background-position:-320px center;background-size:85em}
.vc_custom_1490290175512{margin-top:0!important;margin-bottom:0!important}
.margin-40{margin-top:1em;margin-bottom:1em}
.vc_sep_width_60{width:100%}
.img-logo{padding:10px}}@media screen and (max-width:480px){.woocommerce ul.products li.product{width:100%;margin-left:0}.breadcrumb{display:block}.breadcrumb li{padding:0 5px}.breadcrumb li:after{content:" "}.breadcrumb li:before{content:"• "}}.menu{display:block;float:right;position:relative;margin-top:1em}
.menu li{display:inline-block;position:relative;z-index:100;font-family:Raleway;text-transform:uppercase;font-weight:700;font-size:1.4em}
.menu li:first-child{margin-left:0}
.menu li a{font-weight:800;text-decoration:none;padding:10px;color:#5a5047;padding:0 .6em;display:block;-webkit-transition:all .2s ease-in-out 0;-moz-transition:all .2s ease-in-out 0;-o-transition:all .2s ease-in-out 0;-ms-transition:all .2s ease-in-out 0;transition:all .2s ease-in-out 0}
.menu li a:hover,.menu li:active>a,.menu li:hover>a{color:#cac3bc;text-decoration:none}
.menu ul{display:none;margin:0;position:absolute;top:30px;left:0;background-color:#343636;padding:0;width:250px}
.menu ul.sub-menu li{font-size:1.2em}
.menu ul.sub-menu li a{line-height:2em;border-top:1px solid #a3ad73}
.menu ul li{display:block;float:none;background:0 0;margin:0;padding:0;text-transform:uppercase}
.menu ul li a{font-weight:400;display:block;color:#797979;background:#f1f3e3}
.menu li:hover>ul{display:block}
.menu ul ul{left:149px;top:0}
.menu li.menu-item-33:hover ul,.menu li.over ul{display:block}
.mobile-menu{display:none;width:100%;padding:11px;background-color:#638038;color:#fff;text-transform:uppercase;font-weight:600}
.mobile-menu:hover{background-color:#a3ad73;color:#fff;text-decoration:none}
@media (max-width:960px){li.img-menu{background-repeat:no-repeat;background-position:center center;width:82px;height:auto}.mainWrap{width:768px}.menu,.menu-servicos{z-index:9999;position:relative;background:#fff;top:0}.menu ul{top:37px}.menu li a{padding:8px}.mainWrap{width:auto;padding:50px 20px}.menu,.menu-servicos{display:none;margin:0 auto;padding:0;width:100%}#menu-menu-rodape .menu{display:block;background-color:transparent}.mobile-menu{display:block;margin-bottom:20px;background-color:#293c5d}.mobile-menu-servicos{display:block;margin-top:30px;margin-bottom:20px;background-color:#c2e16f}nav{margin:0;background:0 0;float:none}.menu li,.menu-servicos li{display:block;font-size:1em;margin:0;padding:0}.menu li a,.menu-servicos li a{color:#797979;border-top:1px solid #e0e0e0;border-left:3px solid #fff}.menu li a:hover,.menu li:hover>a,.menu-servicos li a:hover,.menu-servicos li:hover>a{background:#f0f0f0;color:#797979}.menu ul,.menu-servicos ul{display:block;position:relative;top:0;left:0;width:100%}.menu ul ul,.menu-servicos ul ul{left:0}}
 table #tbl-rich-snippet{width:100%;}
tr .tbl-bsf-tr{border:1px dotted #ddd;}
td .tbl-bdf-td{padding:5px;}
.tbl-img{width:170px;}
.tbl-addrs-tr{border:0px;}
.rating-value{display:none;}
.rating-count{font-weight:bold;}
#snippet-box{background:#F0F0F0;background:linear-gradient(top, #FFF 50%, #E7E7E7 100%);background:-o-linear-gradient(top, #FFF 50%, #E7E7E7 100%);background:-moz-linear-gradient(top, #FFF 50%, #E7E7E7 100%);background:-webkit-linear-gradient(top, #FFF 50%, #E7E7E7 100%);background:-ms-linear-gradient(top, #FFF 50%, #E7E7E7 100%);border:1px solid #ACACAC;font-family:inherit;font-size:13px;padding:0;margin:0 0 15px 0;float:left;width:600px;clear:both;box-sizing:content-box;}
.snippet-markup{float:left;clear:both;width:100%;}
.snippet-title{font-family:inherit;font-size:14px;font-weight:bold;background:#D5D2CA;background:linear-gradient(top, #D5D2CA 80%, #EBEAE8 100%);background:-o-linear-gradient(top, #D5D2CA 80%, #EBEAE8 100%);background:-moz-linear-gradient(top, #D5D2CA 80%, #EBEAE8 100%);background:-webkit-linear-gradient(top, #D5D2CA 0%, #EBEAE8 100%);background:-ms-linear-gradient(top, #D5D2CA 80%, #EBEAE8 100%);border-bottom:1px solid #ACACAC;clear:both;padding:0.5em 0 0.5em 1%;width:100%;float:left;}
.snippet-label{width:25%;float:left;clear:both;text-align:right;font-size:13px;font-weight:bold;margin:0 2% 0 0;padding:0.4em 2%;}
.snippet-data{width:65%;float:left;padding:0.4em 2%;}
.snippet-data-img{width:56%;float:left;padding:0.4em 2%;}
.snippet-image{float:left;min-height:190px;width:200px;}
.snippet-image img{border:2px solid #FFF;box-shadow:none;-webkit-transition:all 400ms ease-in;-moz-transition:all 400ms ease-in;-o-transition:all 400ms ease-in;transition:all 400ms ease-in;margin:10px auto;display:block;}
.snippet-map{width:100%;height:320px;border:1px solid #CCC;}
#snippet-box iframe{width:90%;margin:0 auto;display:block;}
.ratings{float:right;margin-right:10px;}
.star-blocks{background:#FFF;}
#dragContainer{top:65px !important;}
.aio-star{float:left;clear:none;color:rgb(255, 217, 13);text-shadow:1px 1px 1px rgb(138, 127, 64);letter-spacing:0.2em;}
.star-rating-control{margin-top:0.3em;float:left;}
.star-img img{box-shadow:none;margin:-2px 2px;border:none !important;padding:0 !important;}
.snippet-label-img{width:37%;float:left;clear:right;text-align:right;font-size:13px;font-weight:bold;margin:0 1% 0 0;padding:0.4em 1%;}
.aio-info{width:400px;float:left;}
.snippet-clear{clear:both;}
@media (max-width: 855px)
{
#snippet-box{width:100%;}
.snippet-title{width:96%;padding:0.5em 0 0.5em 4%;}
.snippet-image{min-height:50px;margin:0 0 15px 0;width:100%;float:left;clear:both;}
.aio-info{width:100%;float:left;clear:both;}
}
@media (max-width: 650px){}
@media (max-width: 480px){}
@media (max-width: 450px){}
@media (max-width: 320px)
{
}