.menu{display:block;float:right;position:relative;margin-top:1em}
.menu li{display:inline-block;position:relative;z-index:100;font-family:Raleway;text-transform:uppercase;font-weight:700;font-size:1.4em}
.menu li:first-child{margin-left:0}
.menu li a{font-weight:800;text-decoration:none;padding:10px;color:#5a5047;padding:0 .6em;display:block;-webkit-transition:all .2s ease-in-out 0;-moz-transition:all .2s ease-in-out 0;-o-transition:all .2s ease-in-out 0;-ms-transition:all .2s ease-in-out 0;transition:all .2s ease-in-out 0}
.menu li a:hover,.menu li:active>a,.menu li:hover>a{color:#cac3bc;text-decoration:none}
.menu ul{display:none;margin:0;position:absolute;top:30px;left:0;background-color:#343636;padding:0;width:250px}
.menu ul.sub-menu li{font-size:1.2em}
.menu ul.sub-menu li a{line-height:2em;border-top:1px solid #a3ad73}
.menu ul li{display:block;float:none;background:0 0;margin:0;padding:0;text-transform:uppercase}
.menu ul li a{font-weight:400;display:block;color:#797979;background:#f1f3e3}
.menu li:hover>ul{display:block}
.menu ul ul{left:149px;top:0}
.menu li.menu-item-33:hover ul,.menu li.over ul{display:block}
.mobile-menu{display:none;width:100%;padding:11px;background-color:#638038;color:#fff;text-transform:uppercase;font-weight:600}
.mobile-menu:hover{background-color:#a3ad73;color:#fff;text-decoration:none}
@media (max-width:960px){li.img-menu{background-repeat:no-repeat;background-position:center center;width:82px;height:auto}.mainWrap{width:768px}.menu,.menu-servicos{z-index:9999;position:relative;background:#fff;top:0}.menu ul{top:37px}.menu li a{padding:8px}.mainWrap{width:auto;padding:50px 20px}.menu,.menu-servicos{display:none;margin:0 auto;padding:0;width:100%}#menu-menu-rodape .menu{display:block;background-color:transparent}.mobile-menu{display:block;margin-bottom:20px;background-color:#293c5d}.mobile-menu-servicos{display:block;margin-top:30px;margin-bottom:20px;background-color:#c2e16f}nav{margin:0;background:0 0;float:none}.menu li,.menu-servicos li{display:block;font-size:1em;margin:0;padding:0}.menu li a,.menu-servicos li a{color:#797979;border-top:1px solid #e0e0e0;border-left:3px solid #fff}.menu li a:hover,.menu li:hover>a,.menu-servicos li a:hover,.menu-servicos li:hover>a{background:#f0f0f0;color:#797979}.menu ul,.menu-servicos ul{display:block;position:relative;top:0;left:0;width:100%}.menu ul ul,.menu-servicos ul ul{left:0}}