@import url('css/variaveis.less');
@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Enriqueta:400,700|Roboto+Slab:100,300,400,700');
:after,
:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

section:before,
li:before,
li:after,
section:after,
p:before,
p:after,
span:before,
span:after {
    content: " ";
}

a:hover{
    -webkit-transition: all .25s ease-in;
       -moz-transition: all .25s ease-in;
        -ms-transition: all .25s ease-in;
         -o-transition: all .25s ease-in;
            transition: all .25s ease-in;
}
body {
    font-family: @fontRoboto;
    font-size: @fontSize;
    font-weight: normal;
    background-image: url(img/back-conex.png);
    background-position: center;
    background-repeat: repeat;
}

p {
    line-height: @fontMedium;
    color: #868686;
    line-height: 1.8em;
}

img {
    max-width: 100%;
    display: block;
}
.sfmsb-icon-facebook{
    vertical-align: sub;
}
ul,
li {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

a {
    color: @verdeOliva;
}

a:hover {
    color: @marronMedio;
    text-decoration: none;
}
input[type="text"]{
    border-radius: none;
}
select{
    background-color: transparent;
    border-radius: 2px;
    border: 1px solid #5a5047;
    box-shadow: none;
}
.txt-center {
    text-align: center;
}

.txt-left {
    text-align: left;
}
hr{
    border: 0;
}
.txt-right {
    text-align: right;
}

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

.align-center {
    margin: 0 auto;
    display: table;
}

.attachment-img-receitas {
    float: right;
    width: 600px;
}


/* ===== CUSTOM WOOCOMCER ==================================================
========================================================================== */

.vc_gitem-animate-scaleRotateIn .vc_gitem-zone-a {
    height: 400px;
}

.thumbnails img {
    float: left;
    margin: 0.3em 0.4em 0 0;
    ;
    border: 1px solid @marronMedio;
    padding: 0.5em;
}

.images img {
    border: 1px solid @marronMedio;
    padding: 0.3em;
}

.sku_wrapper {
    padding-right: 1em;
}

.product_meta {
    margin-bottom: 1em;
}

.panel h2 {
    text-transform: uppercase;
}

.panel {
    border-color: 1px solid @marronEscuro!important ;
    background: #efe9e3!important;
    padding: 3em 2em 2em 2em;
    .margin-60;
}

.thumbnails {
    margin-left: 0!important;
}

ul.products {
    margin-bottom: 4em;
}

ul.products li {
    float: left;
    width: 23%;
    margin-bottom: 2em;
    margin-left: 1em;
}

ul.products li h3 {
    .txt-center;
    font-size: 1.2em;
    height: 4em;
    margin-top: 1em;
}

.woo_catalog_enquiry_custom_button_enquiry {
    border-radius: 2px;
    font-family: @fontRoboto;
}

#woo_catalog_enquiry_custom_button {
    background-color: transparent!important;
    border: 1px solid @marronMedio!important;
    color: @marronMedio!important;
    font-weight: 100;
    font-weight: bold!important;
    width: 80%!important;
    height: 40px!important;
    font-size: 1em!important;
    line-height: 1.8!important;
    margin-bottom: 20px!important;
    font-family: @fontRoboto;
    border-radius: 2px;
}

#woo_catalog_enquiry_custom_button:hover {
    background-color: @verdeOliva!important;
    border: 1px solid @marronMedio!important;
    color: white!important;
}

.tg-item-content {
    border: 1px solid #fff;
}

.tg-item-title,
.tg-item-date {
    font-family: @fontRoboto;
}

.modal-scrollable {
    overflow: hidden;
    margin: 50px auto;
    display: block;
    width: 800px;
    background: #efefef;
    max-height: 600px;
}

.modal-body p {
    margin-bottom: 0;
}

.modal-header .close {
    padding: 0.5em 0.8em;
    background-color: @marronMedio;
    color: white;
    float: right;
}

.modal-overflow.modal.fade.in {
    margin-left: 0!important;
}

.modal-footer .btn {
    background-color: @marronMedio;
    color: white;
    border-radius: 5px;
    // padding: 0.2em 0.8em;
}

#woo_catalog {
    position: relative;
    top: 250px;
}

.btn-modal {
    background-color: @marromDark;
    color: white;
    padding: 0.2em 0.8em;
}

button:hover,
button:focus,
.button:hover,
.button:focus {
    background-color: @marronMedio;
}

.woocommerce ul.products li.product h3 {
    font-size: 1.4em;
}

ul.page-numbers li {
    display: inline-flex;
    background: #bba998;
    padding: 10px 20px;
    float: left;
    margin: 0px 12px;
    border-radius: 100px;
    &:hover {
        background-color: @marromDark;
    }
}

.woocommerce-pagination {
    width: 442px;
    margin: 0 auto;
    height: 85px;
}

a.page-numbers {
    color: #f5eee7;
}

#woo_catalog_captcha {
    background-color: #ccc;
}

#woo_user_email,
#woo_user_phone,
#woo_user_name {
    border-radius: 2px;
    border: 1px solid #5a5047;
    box-shadow: none;
}

#woo_catalog .modal-content .modal-header {
    padding: 0;
    border-bottom: 0;
}

.aws-container .aws-search-field {
    width: 93%!important;
    float: right!important;
}

input[type="text"] {
    box-shadow: 0;
}


/* ===== Espaço ==================================================
========================================================================== */

.margin-20 {
    margin-top: @margin-20;
}

.margin-30 {
    margin-top: @margin-20 + 0.2em;
}

.margin-40 {
    margin-top: @margin-20 * 2;
    margin-bottom: @margin-20 * 2;
}

.margin-50 {
    margin-top: @margin-10 * 5;
}

.margin-60 {
    margin-top: @margin-20 * 3;
}

.margin-80 {
    margin-top: @margin-20 * 4;
}

.margin-100 {
    margin-top: @margin-20 * 5;
}

.margin-bt-50 {
    margin-bottom: @margin-10 * 5;
}


/* ===== GRID ==================================================
========================================================================== */

.container-fluid {
    max-width: 100%;
    width: 100%;
    margin: 0 auto;
    height: auto;
}


/* ===== HEADER ==================================================
========================================================================== */

.header-inner {
    background-color: @marronClaro;
    height: 4em;
    p {
        color: #6f6457;
        font-weight: 500;
        margin-bottom: 0;
        font-size: 0.8em;
        margin-top: 0.5em;
    }
    strong {
        font-size: 1.2em;
        color: @verdeOliva;
    }
}


/* ===== TITULOS ==================================================
========================================================================== */

h1,
h2,
h3 {
    font-family: @fontRaleway
}

h1 {
    font-size: @fontLarge;
}

h2 {
    font-size: 1.6em;
}

h5,
h6 {
    font-family: @fontRoboto;
}

.titulo-main {
    font-weight: 400;
    text-transform: uppercase;
    color: @marronEscuro;
    margin-top: 1em;
    margin-bottom: 0;
    .titulo-white {
        color: white;
    }
}
.woocommerce-loop-category__title{
    text-align: center;
}
.count{
    display: none;
}
.titulo-light {
    color: @marronMedio;
    font-weight: bold;
}
.woocommerce-loop-product__title{
    text-align: center;
    font-size: 1.2em;
    height: 57px;
    margin-top: 20px;
}
.vc_btn3-style-custom:hover{
    background-color: @marromDark;
}

.vc_separator h4 {
    color: @verdeOliva;
    font-style: italic;
    font-weight: 200;
    text-align: center;
    display: inline-block;
    .lead-white {
        color: white;
    }
}

.receitas ul li{
    border-top: 1px solid @marronMedio;
}
hr.linha-verde {
    .white {
        border-top: 1px solid white;
    }
}

.sub-titulo {
    color: @verdeOliva;
    font-style: italic;
    position: relative;
    top: 1.2em;
    margin: 0;
    &.white {
        color: white;
        top: 0;
    }
    &.verde {
        color: @verdeOliva!important;
    }
}

hr.linha-sub-titulo {
    border-top: 1px solid white;
    width: 7em;
    position: relative;
    top: -2em;
    left: 14em;
}

ul.list-linha-verde {
    display: flex;
    margin: 0 auto;
    width: 35em;
}

ul.list-linha-verde li:first-child,
ul.list-linha-verde li:last-child {
    border-top: 1px solid @verdeOliva;
    margin: 2em auto;
    padding: 0;
    width: 8em;
    height: 0;
}

.breadcrumb {
    display: inline-flex;
    li {
        padding: 0 5px;
    }
    li:after {
        content: "/ "
    }
}

.breadcrumb a {
    color: white;
}


/* ===== CATEGORIAS ==================================================
========================================================================== */

.category {
    border-radius: 100%;
    height: 5em;
    width: 5em;
    background-color: @verdeOlivaClaro;
    border: 2px solid @verdeOlivaClaro;
    background-size: 800px;
    background-repeat: no-repeat;
    margin: 0 auto;
    &:after {
        border: @verdeOlivaClaro solid 3px;
        position: absolute;
        border-radius: 100%;
        width: 6em;
        height: 6em;
        margin-top: -10px;
        margin-left: -10px;
    }
}

.cat-folha {
    background-image: url('@{paht-img}icones-condex.png');
    background-position: 9px center;
}

.cat-noz {
    background-image: url('@{paht-img}icones-condex.png');
    background-position: -432px center;
}

.cat-remedio {
    background-image: url('@{paht-img}icones-condex.png');
    background-position: -194px center;
}

.cat-cogumelo {
    background-image: url('@{paht-img}icones-condex.png');
    background-position: -312px center;
    ;
}

.cat-breans {
    background-image: url('@{paht-img}icones-condex.png');
    background-position: -433px center;
}

.cat-sal {
    background-image: url('@{paht-img}icones-condex.png');
    background-position: -704px center;
}

.cat-semente {
    background-image: url('@{paht-img}icones-condex.png');
    background-position: -340px center;
}

.cat-graos {
    background-image: url('@{paht-img}icones-condex.png');
    background-position: -606px center;
}

.onsale {
    background-color: rgba(208, 219, 182, 0.96);
    padding: 1.2em .9em;
    color: #fff;
    height: 4em;
    width: 4em;
    position: absolute;
    border-radius: 100%;
}

a.link-category {
    color: #fff;
}

.sfmsb-follow-social-buttons a,
.sfmsb-follow-social-buttons a:hover {
    display: table-cell!important;
    
}

.sfmsb-follow-social-buttons {
    font-weight: bold;
    margin-top: 18px;
    margin-top: 20px;
    color: @marronClaro;
}


/* ===== BUTTONS ==================================================
========================================================================== */

.btn-default {
    border-radius: 5px !important;
    border: 1px solid @marronEscuro;
    color: @marronMedio;
    font-family: @fontRoboto;
    background-color: transparent;
    -webkit-transition: all .12s ease;
    -moz-transition: all .12s ease;
    -ms-transition: all .12s ease;
    -o-transition: all .12s ease;
    transition: all .12s ease;
    &:hover {
        background-color: @marromDark;
        color: @marronMedio;
        cursor: pointer;
    }
}

.btn-submit {
    padding: 0.6em 0.8em;
    font-size: 1.2em;
    background-color: @marromDark;
    color: @marronMedio;
}

.center-btn {
    display: table!important;
    vertical-align: top!important;
    margin: 0 auto!important;
}


/* ===== SECTIONS  ==================================================
========================================================================== */

.about-inner {
    background-color: @marronEscuro;
    padding-bottom: @paddgin-20 0;
    padding: 4em 0;
    p {
        color: @marronClaro;
        font-family: @fontRoboto;
    }
}

.produtos-inner {
    background-image: url('@{paht-img}/condexcomercial-linha.jpg');
    height: auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
    z-index: 9999;
    h2 {
        font-family: @fontRoboto;
        color: white;
        font-weight: bold;
        .txt-center;
        margin-top: 1em;
    }
    p {
        font-family: @fontRoboto;
        color: white;
    }
}

.produto h3 {
    font-size: 1.2em;
    height: 3em;
    text-align: center;
    margin-top: 10px;
}

.padding-5 {
    padding-top: 6em;
}

h2 + p {
    font-size: 1em;
}

.front {
    position: relative;
    z-index: 9999;
}

.topo-inner {
    background-image: url('@{paht-img}/topo-condexcomercial.jpg');
    background-repeat: repeat-x;
    height: 10em;
    margin: 2em 0;
}

.produto li {
    width: 23%;
    float: left;
    height: 390px;
    margin: 0 10px;
}


/* ===== FOOTER ==================================================
========================================================================== */

.footer-inner {
    background-color: @marronEscuro;
    padding-top: @paddgin-8*3;
    margin-top: 3em;
    // height: 15em;
    .textwidget {
        color: @marronClaro;
        font-family: @fontRoboto;
    }
}

.phone {
    font-size: 1.2em;
    color: @verdeOliva;
}

.linha-footer {
    height: 0;
    margin-bottom: @paddgin-8;
}

.copy-inner p {
    font-family: @fontRoboto;
    font-size: @fontMedium;
    color: @marronClaro;
    font-size: 0.8em;
}

.line-divide-footer {
    border-top: 1px solid @marronMedio;
    border-bottom: 0;
}

.flor-footer {
    position: relative;
    margin: 0 auto;
    background-color: @marronEscuro;
    padding: @paddgin-8 0;
    width: 50px;
    top: -3em;
    &.white {
        background-color: white;
    }
}

.related.products h3 {
    font-family: @fontRoboto;
    .txt-center;
    font-family: @marronMedio;
}

.related.products {
    display: table;
    height: 3em;
    margin-top: 1em;
}


/* ===== FORM ================================================
========================================================================== */

.wpcf7-form.form-contato input[type="text"],
input[type="email"],
input[type="phone"],
input[type="tel"],
input[type="number"],
textarea {
    border-radius: 2px;
    border: 1px solid @marronEscuro;
    box-shadow: none;
}

.form-contato label {
    font-family: @fontRoboto;
    color: @marronEscuro;
    font-size: 1.2em;
    height: 0.5em;
}


/* ===== RESPONSIVE ==================================================
========================================================================== */

@media screen and (max-width: 640px) {
    .produto li {
        float: left;
        width: 30%;
    }
}

@media screen and (max-width: 780px) {
    .header-inner {
        height: auto;
        padding-bottom: @paddgin-1;
    }
    .footer-inner {
        height: auto;
    }
    ul.list-menu {
        background-color: @marronClaro;
        height: 0;
        overflow: hidden;
        margin-top: 0;
    }
    ul.sub-menu li:hover {
        background-color: @verdeOliva;
    }
    .open-menu {
        height: auto;
        overflow: visible;
    }
    ul.list-menu li {
        display: block;
        padding: 0.4em 0;
        border-top: 1px solid @marronMedio;
    }
    #touch-menu {
        width: 100%;
        background-color: #a89d91;
        margin-top: 20px;
        display: block;
        text-align: center;
        color: #ccc;
        font-size: 1.4em;
        visibility: visible;
    }
    h1 {
        font-style: 1.4em;
    }
    ul.list-linha-verde li:first-child,
    ul.list-linha-verde li:last-child,
    .sub-titulo {
        width: auto;
        margin: 0.8em auto;
        text-align: center;
    }
    ul.list-linha-verde {
        width: auto;
    }
    .sub-titulo {
        top: 0;
        text-align: center;
    }
    .produto li {
        width: 100%;
        float: none;
        height: auto;
        img {
            margin: 0 auto;
        }
    }
    .topo-inner {
        background-size: cover;
        height: auto;
    }
    .modal-scrollable {
        width: 100%;
        overflow: visible;
    }
    .produto h3 {
        height: 3em;
        text-align: center;
        margin-top: 10px;
    }
    .category {
        height: 10em;
        width: 10em;
    }
    .category:after {
        width: 11em;
        height: 11em;
    }
    .cat-folha,
    .cat-sal,
    .cat-brean,
    .cat-remedio,
    .cat-sal,
    .cat-breans
    .cat-graos {
        background-size: 85em;
    }
    .cat-sal {
        background-position: -320px center;
    }
    .cat-folha {
        background-position: -145px center;
    }
    .cat-brean {
        background-position: -724px center;
    }
    .cat-remedio {
        background-position: -313px center;
    }
    .cat-sal {
        background-position: -1180px center;
    }
    .cat-graos {
        background-position: -1020px center;
    }
    .cat-breans{
        background-position: -1020px center;
    }
    .vc_custom_1490290175512 {
        margin-top: 0px !important;
        margin-bottom: 0px !important;
    }
    .vc_separator.vc_separator_align_center h4{
        padding: 0;
    }
    .margin-40 {
        margin-top: 1em;
        margin-bottom: 1em;
    }
    .produtos-inner h2 {
        margin: 1em 0 2em 0;
    }
    .vc_sep_width_60 {
        width: 100%;
    }
    .img-logo {
        padding: 10px;
    }
    .woo_catalog_enquiry_custom_button_enquiry {
        margin-bottom: 50px;
        width: 100%;
    }
}

@media screen and (max-width: 480px) {
    .woocommerce ul.products li.product {
        width: 100%;
        margin-left: 0;
    }
    .breadcrumb {
        display: block;
        li {
            padding: 0 5px;
        }
        li:after {
            content: " ";
        }
        li:before {
            content: "• ";
        }
    }
    .related.products {
        width: 94%;
        height: auto;
    }
}
