div.rating-cancel,div.star-rating{float:left;width:17px;height:17px;text-indent:-999em;cursor:pointer;display:block;background:transparent;overflow:hidden}
div.rating-cancel,div.rating-cancel a{background:url(//condexcomercial2.tempsite.ws/wp-content/plugins/all-in-one-schemaorg-rich-snippets/css/delete.gif) no-repeat 0 -16px}
div.star-rating,div.star-rating a{background:url(//condexcomercial2.tempsite.ws/wp-content/plugins/all-in-one-schemaorg-rich-snippets/css/star.png) no-repeat 0 0px}
div.rating-cancel a,div.star-rating a{display:block;width:16px;height:100%;background-position:0 -38px;border:0}
div.star-rating-on a{background-position:0 0px!important}
div.star-rating-hover a{background-position:0 -18px}
div.rating-cancel a:hover{background-position:0 -16px}
div.star-rating-readonly a{cursor:default !important}
div.star-rating{background:transparent!important;overflow:hidden!important}
#tabs {
width:60%;
float:left;
margin-right:10px;
}